body {
    margin: 0;
    padding: 0;
    background: #FFAF00 url('../images/img01.gif') repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #787878;
}
a {
    text-decoration: none;
    color: #5E5E5E;
}
a img {
    border: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Abel', sans-serif;
    color: #787878;
}
.red14 {
	font-size: 14px;
	color:red;
}
.red40{
	font-size: 20px;
	color:red;
}
.icon16 {
    height: 16px;
    width: 16px;
}
.icon32 {
    height: 32px;
    width: 32px;
}
.icon64 {
    height: 64px;
    width: 64px;
}
.textcenter {
    text-align: center;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.6em;
}
li {
    font-size: 1.2em;
}
p {
    font-size: 1.4em;
    margin-top: 0;
    line-height: 180%;
}
ul {
    margin-top: 0;
    line-height: 180%;
}
.clear{
    clear:both;
}
.container {
    width: 1000px;
    margin: 0px auto;
}
.date {
    float: left;
}
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
}
.red:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
}
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);

}

.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
hr {
    clear: both;
    margin: 20px 0;
    border-bottom: 2px solid #E7EBED;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #E7EBED;
}

.line{
    margin: 5px 0;
    clear: both;
    border-bottom: 2px solid #E7EBED;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #E7EBED;

}

.meta {
    margin-bottom: 30px;
    padding: 10px 0px 0px 0px;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.name{
    font-size: 20px;
}
.name-large{
    font-size: 30px;
}
.posted {
    float: right;
}
.post {
    overflow: hidden;
    margin-bottom: 30px;
    border-bottom: 1px solid #E7EBED;
    padding-bottom: 20px;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 7px 0px 0px 0px;
    letter-spacing: -1px;
}
.post  a {
    border: none;
    color: #3A4648;
}
.textcenter {
    text-align: center;
}
.textleft{
    text-align: left;
}
.textright{
    text-align:right;
}
.title a {
    border: none;
    text-transform: lowercase;
    color: #3A4648;
}
.title img{
    vertical-align: bottom;
}
.title {
    height: 41px;
    padding: 7px 0px 0px 0px;
    letter-spacing: -1px;
}

/* Wrapper */
#wrapper {
    padding-top: 50px;
}

/* Header Wrapper */
#header-wrapper {
    overflow: hidden;
    height: 140px;
}

/* Header */
#header {
    width: 900px;
    height: 100px;
    margin: 0 auto;
    padding: 0px 50px;
    background: url('../images/img02.jpg') repeat;
}

/* Login_Form */
#login_form {
}
#login_form table{
    width: 900px;
    text-align: center;
    font-size: 16px;
}
#login_form caption{
    font-weight:bold;
    font-size: 20px;
}

/* Contact Form */
#contact_form {
    width: 500px;
    margin: 0 auto;
    display: block;    
    font-family: Helvetica, sans-serif;
}
#contact_form form label {
    display: block;    
    font-size: 1.6em;
    margin: 0 0 10px;
}
#contact_form form input.txt  {
    padding: 5px;    
    width: 470px;
    font-size: 1.6em;
    margin: 0 0 15px;
    border: 2px solid #cfcfcf;
}
#contact_form form input.txt:focus {
    border: 2px solid #FFAF00;
}
#contact_form form textarea {
    padding: 5px;    
    width: 470px;
    font-size: 1.6em;
    margin: 0 0 15px;
    border: 2px solid #cfcfcf;
    font-family: Helvetica, sans-serif;

}
#contact_form form textarea:focus {
    border: 2px solid #FFAF00;
}
#contact_form form submit {
    display: inline-block;
    padding: 0 25px;

}

/* Logo */
#logo {
    float: left;
    width: 300px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}
#logo h1 a {
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
    border: none;
    background: none;
    text-decoration: none;
}
#logo h1 {
    line-height: 100px;
    letter-spacing: -2px;
    text-transform: lowercase;
    font-size: 3.8em;
}
#logo img{
    height:90px;
    float:left;
}

/*Menu*/
#menu {
    float: right;
    width: 550px;
    height: 90px;
    margin: 0 auto;
    padding: 0;
}
#menu a{
    display: block;
    line-height: 100px;
    margin-right: 1px;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    border: none;
}
#menu a.admin {
    display: block;
    line-height: 100px;
    margin-right: 1px;
    padding: 0px 12px 0px 12px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    border: none;
}

#menu a:hover {
    background-color: #606262;
}
.current_page_item {
    background-color: #545454;
}
#menu ul {
    float: left;
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}
#menu li{
    float: left;
}

/* Page*/
#page {
    width: 900px;
    margin: 0 auto;
    padding: 30px 50px;
    background: #FFFFFF;
}

/* Search page headings */
#searchresult {
    display: inline-block;
    height: 36px;
    margin: 0;
    padding: 0;
    width: 900px;
    vertical-align: middle;

}
#search form input.searchbox {
    background:#FFFFFF url('../images/omagnify.png') no-repeat 4px 4px;    
    padding:4px 4px 4px 22px;
    border:1px solid #CCCCCC;
    width:230px;
    text-align: left;
    height:18px;
    color: #cfcfcf;
}
#search form input.searchbox:focus {
    border: 2px solid #FFAF00;    
}
#friendsearch form input.searchbox {
    background:#FFFFFF url('../images/omagnify.png') no-repeat 4px 4px;    
    padding:4px 4px 4px 22px;
    border:1px solid #CCCCCC;
    margin-left: 25px;
    width:200px;
    text-align: left;
    height:18px;
    color: #cfcfcf;
}
#friendsearch form input.searchbox:focus {
    border: 2px solid #FFAF00;    
}
.hide {
    display: none;
}
#searchresult h1 {
    width: 350px;
    float: left;
}
#searchresult form input {    
    float: right;
}
#searchresult form input.searchbox {
    background:#FFFFFF url('../images/omagnify.png') no-repeat 4px 4px;
    padding:4px 4px 4px 22px;
    border:1px solid #CCCCCC;
    width:230px;
    text-align: left;
    height:18px;
    color: #cfcfcf;
}
#searchresult form input.searchbox:focus {
    border: 2px solid #FFAF00;

}

/* Admin and search page CSS and tables */
.admheading {
    text-align: center;        
    margin: 30px 0 0 0;    

    vertical-align: middle;


}
.admheading img {
    width: 32px;
    height: 32px;
}

.admheading span {
    margin: 0;  
    padding: 0;
    line-height: 32px;
    font-size: 1.8em;

}

/* User List */

#userlist table {
    margin: 10px 0;
    width: 900px;
    padding: 0% 10%;    
    text-align: left;
    border-collapse: collapse;
    font-size: 12px;
    vertical-align: middle;

}
#userlist table th {
    height: 52px;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 2%;
    border-bottom: #FFAF00 solid thin;
    border-top: #FFAF00 solid thin;
    color: #0f0f0f;
    background-color: #FFE8B5;

}

#userlist table th a {
    color: #000000;
}

#userlist th.actions {
	width: 240px;
   	text-align:center;
}
#userlist th.uid{
	width:75px;
}
#userlist th.name{
	width: 220px;
}
#userlist th.email{
	width: 250px;
}
#userlist th.signup{
	width:119px;
}
#userlist table thead tr:hover {

}

#userlist table tbody tr.odd {
    height: 36px;
    background-color: #FFF3D9;

}
#userlist table tbody tr {
    display: table-row;
    height: 36px;
    background-color: #FFFCF5;
}

#userlist table tbody tr:hover {
    background-color: #dedede;
}

#userlist table tr td {
    padding: 0 2%;
    min-width: 130px;    

}

#userlist img {
    height: 16px;
    width: 16px;
    padding: 0 5px;

}
#userlist a {
    display: inline-block;
    line-height: 32px;
    vertical-align: middle;
}
#userlist a:hover {
    text-decoration: underline;
}

/* User search */
#usersearch {
    text-align: center;
}
#usersearch form input.searchbox {
    background:#FFFFFF url('../images/omagnify.png') no-repeat 4px 4px;
    padding:4px 4px 4px 22px;
    border:2px solid #CCCCCC;
    width:230px;
    text-align: left;
    height:18px;
    color: #cfcfcf;

}
#usersearch form input.searchbox:focus {
    border: 2px solid #FFAF00;    
}



#usersearch form label {
    font-size: 1.6em;
    font-weight: bold;
    margin: 5px auto;
}
#usersearch form input.usersearchsubmit {

}

/* Recent Links */
#recentlinks table {
    margin: 10px 0;
    width: 900px;
    padding: 0% 10%;    
    text-align: left;
    border-collapse: collapse;
    font-size: 12px;
    vertical-align: middle;

}
#recentlinks table th {
    height: 52px;
	width: 130px;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 2%;
    border-bottom: #FFAF00 solid thin;
    border-top: #FFAF00 solid thin;
    color: #0f0f0f;
    background-color: #FFE8B5;
}
#recentlinks table th a {
    color: #000000;
}

#recentlinks th.uid {
    width: 40px;
}   
#recentlinks th.sub {
	width: 90px;
}
#recentlinks th.center{
	text-align:center;
}
#recentlinks td.center{
	text-align:center;
}

#recentlinks table thead tr:hover {

}

#recentlinks table tbody tr.odd {
    height: 36px;
    background-color: #FFF3D9;

}
#recentlinks table tbody tr {
    display: table-row;
    height: 36px;
    background-color: #FFFCF5;
}

#recentlinks table tbody tr:hover {
    background-color: #dedede;
}

#recentlinks table tr td {
    padding: 0 2%;
    min-width: 120px;

}

#recentlinks img {
    height: 16px;
    width: 16px;
    padding: 0;

}
#recentlinks a {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    margin: 0 5px;
}
#recentlinks a:hover {
    text-decoration: underline;
}

/* Link search */
#linksearch {
    text-align: center;
}
#linksearch form input.searchbox {
    background:#FFFFFF url('../images/omagnify.png') no-repeat 4px 4px;
    padding:4px 4px 4px 22px;
    border:2px solid #CCCCCC;
    width:230px;
    text-align: left;
    height:18px;
    color: #cfcfcf;

}
#linksearch form input.searchbox:focus {
    border: 2px solid #FFAF00;        
}

#linksearch form label {
    font-size: 1.6em;
    font-weight: bold;
    margin: 5px auto;
}
#linksearch form input.linksearchsubmit {

}

/* Content */
#content {
    float: left;
    width: 590px;

}

/* Sidebar */
#sidebar {
    float: right;
    width: 280px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}
#sidebar ul li.addfriendbutton {
    margin-bottom: 25px;
    text-align: center;
}
#sidebar li ul {
    margin: 0px 0px;
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 35px;
    border-bottom: 1px solid #E7EBED;
    margin: 0px 30px;
    border-left: none;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar li li a {
    padding: 0px 0px 0px 15px;
}

#sidebar h2 {
    height: 38px;
    padding-left: 20px;
    letter-spacing: -.5px;
    font-size: 1.8em;
    color: #616D79;
}

#sidebar p {
    margin: 0 0px;
    padding: 0px 30px 20px 30px;
    text-align: justify;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

/* Search */

#search {
    float: right;
    width: 280px;
    height: 60px;
    padding: 0px 0px 0px 0px;
}

#search form {
    height: 41px;
    margin: 0;
    padding: 10px 0 0 20px;
}

/* profile_user */

#profile_user table{
    width: 600px;
    border:1px solid #000;
    font-size: 1.8em;
}
#profile_user tr{
    border:1px solid #000;
}
#profile_user td{
    border:1px solid #000;
}

#profile_user p{
    font-size: 1.8em;
    color: black;
}

#profile_user ol {
    font-size: 1.4em;
}

/* profile_user */

#profile_interests table{
    width: 600px;
    border:1px solid #000;
    font-size: 1.8em;
}
#profile_interests tr{
    border:1px solid #000;
}
#profile_interests td{
    border:1px solid #000;
}

#profile_interests p{
    font-size: 1.8em;
    color: black;
}

#profile_interests ol {
    font-size: 1.4em;
}

/* profile_friends */

#profile_friends table{
    width: 600px;
    border:1px solid #000;
    font-size: 1.8em;
}
#profile_friends tr{
    border:1px solid #000;
}
#profile_friends td{
    border:1px solid #000;
}

#profile_friends p{
    font-size: 1.8em;
    color: black;
}

#profile_friends ol {
    font-size: 1.4em;
}

/* profile_links */

#profile_links table{
    width: 600px;
    border:1px solid #000;
    font-size: 1.8em;
}
#profile_links tr{
    border:1px solid #000;
}
#profile_links td{
    border:1px solid #000;
}

#profile_links p{
    font-size: 1.8em;
    color: black;
}

#profile_links ol {
    font-size: 1.4em;
}


/* Footer */

#footer {
    height: 100px;
    margin: 0 auto;
    padding: 0px 0 15px 0;
    font-family: 'Abel', sans-serif;
}

#footer p {
    margin: 0;
    padding-top: 10px;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #787878;
}

/* Login Form */
#login_form {
    width: 300px;
    margin: 0 auto;
    display: block;    
    font-family: Helvetica, sans-serif;
}
#login_form form label {
    display: block;    
    font-size: 1.6em;
    margin: 0 0 10px;
}
#login_form form input.txt  {
    padding: 5px;    
    width: 270px;
    font-size: 1.6em;
    margin: 0 0 15px;
    border: 2px solid #cfcfcf;
}
#login_form form input.txt:focus {
    border: 2px solid #FFAF00;
}
#login_form form textarea {
    padding: 5px;    
    width: 270px;
    font-size: 1.6em;
    margin: 0 0 15px;
    border: 2px solid #cfcfcf;
    font-family: Helvetica, sans-serif;

}
#login_form form textarea:focus {
    border: 2px solid #FFAF00;
}
#login_form form submit {
    display: inline-block;
    padding: 0 25px;

}

/* Signup Form */
#signup_form {
    width: 270px;
    margin: 35px auto;
    display: block;    
    font-family: Helvetica, sans-serif;
}
#signup_form a {
    color: #FFAF00;
}
#signup_form a:hover {
    text-decoration: underline;
}
#signup_form form label {
    display: block;    
    font-size: 1.6em;
    margin: 0 0 10px 0;
}
#signup_form form input.txt  {
    padding: 5px;    
    width: 270px;
    font-size: 1.6em;
    margin: 0 0 15px;
    border: 2px solid #cfcfcf;
}
#signup_form form input.txt:focus {
    border: 2px solid #FFAF00;
}
#signup_form form textarea {
    padding: 5px;    
    width: 270px;
    font-size: 1.6em;
    margin: 0 0 15px;
    border: 2px solid #cfcfcf;
    font-family: Helvetica, sans-serif;

}
#signup_form form textarea:focus {
    border: 2px solid #FFAF00;
}
#signup_form form submit {
    display: inline-block;
    padding: 0 25px;

}

.banner {
    color: red;
    text-align: center;
    font-weight: bold;
    display: block;
    width: 250px;
    margin: 20px auto;
    padding: 10px 0;
    border: 1px #FF0000 solid;
    background-color: #FFE3E3;
}
.error {
    color: red;    
    text-align: left;
    font-weight: bold;
    margin: 25px auto;
    display: block;
    width: 300px;
    padding: 10px;
    border: 1px #FF0000 solid;
    background-color: #FFE3E3;
}

.success {
    color: green;    
    text-align: left;
    font-weight: bold;
    margin: 25px auto;
    display: block;
    width: 300px;
    padding: 10px;
    border: 1px green solid;
    background-color: #C9FFE6;
}

.error ul {
    margin: 0;
    padding: 0 15px;
    list-style-type: none;
}

.error ul li {
    
}
.success ul {
    margin: 0;
    list-style-type: none;   
}

.orangelink {
    color: #FFAF00;
}
.orangelink a:hover {
    text-decoration: underline;
}

/* user page recent links */
#userrecentlinks {
    margin-bottom: 20px;
}

#userrecentlinks table {
    margin: 10px 0;
    width: 590px;
    padding: 0% 10%;    
    text-align: left;
    border-collapse: collapse;
    font-size: 12px;
    vertical-align: middle;

}
#userrecentlinks  table th {
    height: 52px;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 2%;
    border-bottom: #FFAF00 solid thin;
    border-top: #FFAF00 solid thin;
    color: #0f0f0f;
    background-color: #FFE8B5;

}

#userrecentlinks table th a {
    color: #000000;
}

#userrecentlinks  table thead tr:hover {

}

#userrecentlinks  table tbody tr.odd {
    height: 36px;
    background-color: #FFF3D9;

}
#userrecentlinks  table tbody tr {
    display: table-row;
    height: 36px;
    background-color: #FFFCF5;
}

#userrecentlinks  table tbody tr:hover {
    background-color: #dedede;
}

#userrecentlinks  table tr td {
    padding: 0 2%;
    min-width: 120px;
}

#userrecentlinks  img {
    height: 16px;
    width: 16px;
    padding: 0;

}
#userrecentlinks  a {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;

    margin: 0 5px;
}
#userrecentlinks  a:hover {
    text-decoration: underline;
}



/* interests on user page */
#userinterests {
    margin: 10px 0;
    width: 590px;
    padding: 0% 0%;    
    text-align: left;
    border-collapse: collapse;
    font-size: 12px;
    vertical-align: middle;

}
#userinterests  table th {
    height: 0px;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 2%;
    border-bottom: #FFAF00 solid thin;
    border-top: #FFAF00 solid thin;
    color: #0f0f0f;
    background-color: #FFFCF5;
}

#userinterests table th a {
    color: #000000;
}

#userinterests  table thead tr:hover {

}

#userinterests  table tbody tr.odd {
    height: 42px;
    background-color: #FFF3D9;

}
#userinterests  table tbody tr {
    display: table-row;
    height: 42px;
    padding-left: 16px;
    background-color: #FFF3D9;
}

#userinterests  table tbody td:hover {
    background-color: #dedede;
}

#userinterests table tbody tr td.uninterested {
    text-align: center;
    background-color: #fff3d9;
}

#userinterests table tbody tr td.uninterested:hover {
    background-color: #dedede;
}

#userinterests table tbody tr td.interested {
    text-align: center;
    background-color: #D4FFE4;
}

#userinterests table tbody tr td.interested:hover {
    background-color: #dedede;
}



#userinterests  table tr td {
    width: 195px;
    
}

#userinterests  img {
    height: 16px;
    width: 16px;
    padding: 0;

}
#userinterests  a {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;

    margin: 0 5px;
}
#userinterests  a:hover {
    text-decoration: underline;
}


/* New link Form */
#newlink {
    width: 270px;
    font-family: Helvetica, sans-serif;
    display: inline;
    margin-bottom: 40px;

}
#newlink a {
    color: #FFAF00;
}
#newlink a:hover {
    text-decoration: underline;
}
#newlink form label {
    font-size: 1.2em;
    margin: 0 0 20px 0;
}
#newlink form input.txt  {
    padding: 5px;    
    width: 270px;
    font-size: 1.4em;
    margin: 0 0 5px;
    border: 2px solid #cfcfcf;
    color: #cfcfcf;

}
#newlink form select {
    padding: 5px;    
    width: 270px;
    font-size: 1.4em;
    margin: 0 450px 20px 3px;
    border: 2px solid #cfcfcf;
    color: #cfcfcf;
    
}
#newlink form select option {
    font-size: 1.4em;    
}
#newlink form input.txt:focus {
    border: 2px solid #FFAF00;
}

#newlink form submit {
    display: inline-block;
    padding: 0 25px;

}

.orangelink {
    color: #FFAF00;
}
.orangelink a:hover {
    text-decoration: underline;
}